* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Garamond", serif;
    background-color: rgb(17, 16, 16);
}

#title-container {
    user-select: none;
}

#title-container > h1 {
    color: linen;
    font-size: 50px;
}

#settings-container {
    color: linen;
    user-select: none;
}

#settings-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

#settings-container #mute {
    width: 50px;
}

#game-wrapper {
    border: solid 2px black;
    box-sizing: content-box;
    width: min-content;
    height: min-content;
}

#game-container {
    width: 500px;
    height: 700px;
    /* background-color: lightcoral; */

    position: relative;

    user-select: none;
    overflow: hidden;

    pointer-events: none;

    font-family: "Garamond", serif;
    font-size: 16px;

    background-image: url('./assets/sky.png');
}

/* game and ui container */
#game-object-container,
#ui-container,
#overlay-container {
    position: absolute;
    height: 100%;
    width: 100%;

    user-select: none;
    /* pointer-events: none; */
}

#game-object-container *,
#ui-container * {
    pointer-events: auto;
}

/* #overlay-container {
    pointer-events: all;
} */

/* stats */

#stats {
    display: flex;
    justify-content: center;
}

#currency-container {
    text-align: center;
    color: white;
    width: 200px;
    height: 100px;
    background-image: url('./assets/sign-board.png');
}

#currency {
    font-size: 30px;
}

/* contains the ingredients */
#old-ingredients {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(4, 1fr); */
    /* transition: bottom 100ms; */
}

/* #ingredients > div {
    height: 100px;
    width: 100px;
    background-color: lightsalmon;
} */



/* styling for recipe book pages */

.recipe-book-page {
    font-size: 20px;
    font-family: "Lucida Handwriting", cursive;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-book-page h2 {
    font-family: "Garamond", serif;
    text-decoration: black underline;
    text-underline-offset: 15px;
}

.dotted-border {
    border: dotted cornsilk 5px;
    border-radius: 20px;
}

/* recipe container */

.recipes {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.recipe-container {
    display: grid;
    grid-template-columns: 8fr 2fr;
    column-gap: 5px;
    /* background-color: cornsilk; */
    margin-bottom: 6px;
    width: 340px;

    padding: 10px;
}

/* .recipe-container .info-container {
    
} */

.recipe-container .label-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.recipe-container .label-container .label {
    font-size: 20px;
}

.recipe-container .label-container img {
    width: 90px;
    height: 90px;
}

.recipe-container .ingredients-container {
    display: flex;
    justify-content: start;
}

.recipe-container .ingredient-container {
    position: relative;
}

.recipe-container .ingredient-container img {
    width: 30px;
    height: 30px;
}

/* indicator showing how many of ingredient is needed */
.recipe-container .ingredient-container .ingredient-amt {
    position: absolute;
    font-size: 16px;
    width: 20px;
    height: 20px;
    right: -5px;
    bottom: -5px;
    background-color: brown;
    border-radius: 10px;
    color: white;
}

.recipe-container .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-container .button-container .select-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* upgrade page */

.level-label {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upgrade-button {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* crafting and cutting board */

.craft-button {

    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}